<section id="courses" class="courses section">
  <h1 class="title">Courses Payment Page</h1>
  <div class="row">

    <div id="frontend-course" class="container text-center col-md-4 col-sm-6 col-xs-12">
      <h2 class="title">HTML & CSS</h2>
      <h2 class="title"><i class="fa fa-html5"></i> <i class="fa fa-css3"></i></h2>
      <ul class="feature-list list-unstyled">
        <li>Level:
          <strong>Beginners</strong>
        </li>
        <li>Price:
          <strong>£50</strong>
        </li>
        <li>8 X 2 hour session</li>
        <li>Great introduction to coding for the web</li>
        <li>How to build a landing page</li>
        <li class="read-more">Read more about <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Introduction" target="_blank">HTML</a> & <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started/What_is_CSS" target="_blank">CSS3</a></li>
      </ul>
      <a class="btn btn-cta-primary" href="/payment_frontend" >Payment</a>
    </div>

    <div id="android-course" class="container text-center col-md-4 col-sm-6 col-xs-12">
      <h2 class="title">Android</h2>
      <h2 class="title"><i class="fa fa-android"></i></h2>
      <ul class="feature-list list-unstyled">
        <li>Level:
          <strong>Intermediate</strong>
        </li>
        <li>Price:
          <strong>£60</strong>
        </li>
        <li>8 X 2 hour sessions</li>
        <li>Teaching real project management and developer skills</li>
        <li>Building an app from the first session</li>
        <li class="read-more">Read more about <a href="https://developer.android.com/index.html" target="_blank">Android</a></li>
      </ul>
      <a class="btn btn-cta-primary" href="/payment_android" >Payment</a>
    </div>

    <div id="ruby-course" class="container text-center col-md-4 col-sm-12 col-xs-12">
      <h2 class="title">Ruby</h2>
      <h2 class="title"><i class="fa fa-diamond"></i></h2>
      <ul class="feature-list list-unstyled">
        <li>Level:
          <strong>Beginner/Intermediate</strong>
        </li>
        <li>Price:
          <strong>£60</strong>
        </li>
        <li>8 X 2 hour sessions</li>
        <li>Object Oriented Language</li>
        <li>Great intro to Ruby on Rails</li>
        <li class="read-more">Try Ruby in your <a href="http://tryruby.org/levels/1/challenges/0" target="_blank">browser</a></li>
      </ul>
      <a class="btn btn-cta-primary" href="ruby-form.html" target="_blank">Payment</a>
    </div>
  </div>
</section>
