<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="brackets.ico">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    <meta charset="utf-8">
    <title>WarwickCoding Payments</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <div class="brand-logo">
          <img src="logo_banner.png" alt="Nav bar WarwickCoding logo" />
        </div>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="http://www.warwickcoding.com">WarwickCoding</a></li>
          <li><a href="https://www.facebook.com/WarwickCoding">Facebook</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
