
<div class='row'>
  <div class="text-center">
    <p><i class="fa fa-html5"></i> <i class="fa fa-css3"></i></p>
 </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <form action="/charge_frontend" method="post" class="payment">
      <article>
        <h6>Please use your <strong>@warwick.ac.uk</strong> email when filling in the form in the next step</h6>
        <label class="amount">
          <span>You will be charged £50.00 for the Front-End course:</span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= settings.publishable_key %>"
              data-description="Frontend course"
              data-amount="5000"
              data-currency="gbp"
              data-locale="auto"></script>
    </form>

  </div>
</div>
