h2 {
  text-align: center;
}
/*img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}*/
.row{
  text-align: center;
}
.row ul {
  list-style-type: none;
  padding: 0 0 0 0;
}
.row li {
  padding-bottom: 10px;
}
.fb-page {
  padding-left: auto;
  padding-right: auto;
  padding-top: 50px;
}
.brand-logo img {
  width: 3em;
  margin-left: 1.5em;
  background-color: white;

}
nav {
  background-color: #BA1118 !important;
}

.stripe-button-el {
  margin-top: 25px;
}

#logo {
  padding-top: 50px;
  width: 500px;
}
